@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,100&display=swap');
*{
    padding: 0;
    margin: 0;
    font-family:'Roboto', sans-serif;
    background-attachment: fixed;
}
div figure button{
    width: 100%;
}
section div img{
    height: 400px;
    object-fit: contain;
}
.heigh-title{
    height: 5em;
}
.width-figure{
    width: 30%;
    margin: 10px;
}
.height--img{
    height: 15em;
    object-fit: cover;
}
/* .card-borde{
    border-color: $secundaryColor;
    background-color: $secundaryColor;
} */
.width-figure:hover{
    transform: scale(1.02);
}
.centrar{
    text-align: center;
}
body{
    font-size: 1em;
    line-height: 2em;
    background-color: #efefef
}
figure div input{
padding: 1em;
}